.container {
  padding: 20px;
  text-align: center;
}

input {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card {
  border: 1px solid #555;
  padding: 10px;
  text-align: center;
}
